<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="3">
<listeners>
    <listener class-name="TestngThings.litners"></listener>
</listeners>
    <test verbose="2" preserve-order="true" name="Test1">
        <parameter name="URL" value="https://courses.rahulshettyacademy.com/"></parameter>

        <groups>
          <run>
              <include name="smoke"/>
          </run>
      </groups>
        <classes>

            <class name="TestngThings.Loan2"/>



        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test2">
        <parameter name="Username" value="pradep@123"></parameter>

        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>


            <class name="TestngThings.Loan3"/>



        </classes>
    </test>
</suite>